<div class="text">
  <ul>
    <li><h3>¿Qué son los Gimos?</h3>
    Son la moneda exclusiva de <a href="https://www.twitch.tv/gifo" target="_blank">mi canal de Twitch</a>.</li>

    <li><h3>¿En qué puedo usar mis Gimos?</h3>
    De momento los usos son limitados, pero iré implementando de nuevos. Hasta ahora sólo se pueden usar para comprar el <a routerLink="/moderador">rango de moderador</a> y para jugar a minijuegos dentro del chat de Twitch.</li>

    <li><h3>¿Cómo obtener más Gimos?</h3>
    ¡Participa en minijuegos con otros espectadores! También puedes quedarte hasta el final del stream, para participar en un sorteo de 300 Gimos. Además, si acumulas horas mirando mis directos, obtendrás Gimos como recompensa.

    <table>
      <tr>
        <th>Tiempo</th>
        <th>Recompensa</th> 
      </tr>
      <tr>
        <td>1 hora</td>
        <td>200 Gimos</td> 
      </tr>
      <tr>
        <td>3 horas</td>
        <td>1.000 Gimos</td> 
      </tr>
      <tr>
        <td>5 horas</td>
        <td>3.000 Gimos</td> 
      </tr>
      <tr>
        <td>10 horas</td>
        <td>10.000 Gimos</td> 
      </tr>
      <tr>
        <td>20 horas</td>
        <td>50.000 Gimos </td> 
      </tr>
      <tr>
        <td>50 horas</td>
        <td>200.000 Gimos</td> 
      </tr>
      <tr>
        <td>100 horas</td>
        <td>1.000.000 Gimos</td> 
      </tr>
      <tr>
        <td>200 horas</td>
        <td>5.000.000 Gimos</td> 
      </tr>
                
    </table></li>
  </ul>
</div>