<div class="text">

  <ul>
    <li>Para comprar un rango de moderador, necesitas tener un mínimo  de <a routerLink="/gimos">Gimos</a> (especificado en la table de abajo), y usar el comando <span class="command">!mods</span> en el chat de Twitch mientras esté en directo.

      <table>
        <tr>
          <th>Moderador</th>
          <th>Coste</th>
        </tr>
        <tr>
          <td>1 stream</td>
          <td>2.500 Gimos</td>
        </tr>
        <tr>
          <td>7 streams</td>
          <td>15.000 Gimos.</td>
        </tr>
        <tr>
          <td>28 streams</td>
          <td>50.000 Gimos</td>
        </tr>
        <tr>
          <td>84 streams</td>
          <td>130.000 Gimos</td>
        </tr>
        <tr>
          <td>168 streams</td>
          <td>240.000 Gimos</td>
        </tr>
        <tr>
          <td>252 streams</td>
          <td>350.000 Gimos</td>
        </tr>
        <tr>
          <td>365 streams</td>
          <td>565.000 Gimos</td>
        </tr>
        <tr>
          <td>PARA SIEMPRE</td>
          <td>2.500.000 Gimos</td>
        </tr>
      </table></li>
      
  </ul>

</div>
