<header>
  <div class="bar">
      <nav>
        <ul>
          <li><a routerLink="/"><img src="../../assets/Images/gifo_logo.jpg" alt="GIFO logo" class="logo" width="60px"></a></li>
          <div class="text_li">
            <li><a routerLink="/">Página Principal</a></li>
            <li><a routerLink="/sobre_el_canal">Sobre el canal</a></li>
            <li><a routerLink="/gimos">Gimos</a></li>
            <li><a routerLink="/moderador">Moderador</a></li>
          </div>

        </ul>
      </nav>
  </div>
</header>
