<body>
    
    <ul>
        <li><app-twitch></app-twitch></li>
        
        <li><app-discord></app-discord></li>

    </ul>
</body>

<footer>
    <ul>
        <li class="other_social_media"><a href="https://twitter.com/GIFOYT?ref_src=twsrc%5Etfw" target="_blank"><img src="../../assets/Images/twitter.jpg" width="30px"></a></li>

        <li class="other_social_media"><a href="https://www.instagram.com/gifoyt/" target="_blank"><img src="../../assets/Images/instagram.png" width="24px"></a></li>
    </ul>
</footer>

<br>